<% if current_user %>
  <h4>Your review</h4>
  <% if @user_review.persisted? %>
    <%= render 'reviews/show', review: review %>
  <% else %>
    <%= render 'reviews/form', review: review %>
  <% end %>
<% end %>
